<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dental Forte</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="libs/css-libs.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bundle.min.css"/>
  </head>
  <body>
    <div id="preloader">
      <div class="loader-container"></div>
    </div>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="header__right"><a class="logo" href="/"><img class="logo-img" src="images/logo.png" alt="Логотип компании"/><img class="logo-img-mobile" src="images/logo-mobile.png" alt="Логотип компании"/></a>
            <div class="collapse navbar-collapse" id="navbarHeader">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Услуги</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Наши клиенты</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
              </ul>
              <div class="header__mobile">
                <div class="header__town">
                  <h5 class="header__town__current">Набережные Челны</h5><a class="header__town__address" href="#">бул. Г. Камала, 24а (27/04 а)</a>
                </div>
                <div class="header__phone"><a class="header__phone__number" href="tel:88552202726">8 8552 20 27 26</a>
                  <button class="dental-btn header__phone__btn" data-toggle="modal" data-target="#feedbackModal">Заказать звонок</button>
                </div>
                <div class="header__social"><a class="header__social__link instagram-link" href="#"></a><a class="header__social__link vk-link" href="#"></a></div>
              </div>
            </div>
          </div>
          <div class="header__left">
            <div class="header__town">
              <h5 class="header__town__current">Набережные Челны</h5><a class="header__town__address" href="#">бул. Г. Камала, 24а (27/04 а)</a>
            </div>
            <div class="header__phone"><a class="header__phone__number" href="tel:88552202726">8 8552 20 27 26</a>
              <button class="dental-btn header__phone__btn" data-toggle="modal" data-target="#feedbackModal">Заказать звонок</button>
            </div>
            <div class="header__social"><a class="header__social__link instagram-link" href="#"></a><a class="header__social__link vk-link" href="#"></a></div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu"><span class="bar"></span><span class="bar"></span></div>
          </button>
        </nav>
      </div>
    </header>
    <div id="main">
      <section class="slider"> 
        <div class="owl-carousel owl-theme" id="main-slider">
          <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
            <div class="container">
              <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
            </div>
          </div>
          <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
            <div class="container">
              <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
            </div>
          </div>
          <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
            <div class="container">
              <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
            </div>
          </div>
        </div>
      </section>
      <section class="about">
        <div class="container">
          <h4 class="subtitle subtitle-mobile"><span><a href="#">О компании</a></span></h4>
          <div class="row">
            <div class="col-lg-5 col-xl-6">
              <div class="about-img"><img src="images/about-front-img.jpg" alt="Картинка о компании"/></div>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="about-right">
                <h4 class="subtitle"><span><a href="#">О компании</a></span></h4>
                <p>Качественный контент — это уважение к пользователю, показатель уровня работы компании. Если это текст, в нем не должно быть смысловых или грамматических ошибок, он должен быть правильно оформлен, структурирован. Видеоматериалы готовят, контролируя качество видеоряда и озвучивания, монтажа, сведения. Графика, изображения, фото должны быть четкими, иметь хорошее разрешение. Для каждого типа контента действует свой набор требований по качеству, и важно соблюдать их.</p>
                <button class="dental-btn-small">Подробнее </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="services">
        <div class="container">
          <div class="services__wrapper">
            <h4 class="subtitle subtitle-divider text-center"><span><a href="#">Услуги</a></span></h4>
            <div class="row">
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-1.jpg" alt="Картинка услуг 1"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Бухгалтерский учет</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-2.jpg" alt="Картинка услуг 2"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Маркетинг</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-3.jpg" alt="Картинка услуг 3"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Подбор и обучение<br> персонала</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-4.jpg" alt="Картинка услуг 4"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Кадровое<br> делопроизводство</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-5.jpg" alt="Картинка услуг 5"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Администрирование</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
              <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
                  <div class="services__link__img"><img src="images/services/services-img-6.jpg" alt="Картинка услуг 6"/></div>
                  <div class="services__link__block">
                    <h3 class="services__link__title">Юридическое<br> сопровождение</h3>
                    <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
                  </div></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="advantages">
        <div class="container">
          <h4 class="subtitle text-center">Преимущества работы с нами</h4>
          <div class="row"> 
            <div class="col-lg-4 col-xl-4">
              <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-1.png" alt="Преимущества 1"/>
                <p class="advantages__item__text">Решение вопросов<br> в кратчайшие сроки</p>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4">
              <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-2.png" alt="Преимущества 2"/>
                <p class="advantages__item__text"><span>100%</span><br> конфиденциальность</p>
              </div>
            </div>
            <div class="col-lg-4 col-xl-4">
              <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-3.png" alt="Преимущества 3"/>
                <p class="advantages__item__text">Высокое качество<br> оказываемых услуг</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="partners">
        <div class="container">  
          <h4 class="subtitle subtitle-divider text-center"><span><a href="#">Наши клиенты</a></span></h4>
          <div class="owl-carousel owl-theme" id="partner-slider">
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-1.png" alt="Лого партнера 1"/></div>
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-2.png" alt="Лого партнера 2"/></div>
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-3.png" alt="Лого партнера 3"/></div>
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-1.png" alt="Лого партнера 1"/></div>
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-2.png" alt="Лого партнера 2"/></div>
            <div class="item"><img class="partners-img" src="images/partners/partners-logo-3.png" alt="Лого партнера 3"/></div>
          </div>
        </div>
      </section>
      <section class="contact">
        <div class="container"> 
          <div class="contact__block">
            <h3 class="contact__block__title">Контакты </h3>
            <h4 class="contact__block__town"><b>г. Набережные Челны,</b><br> Новый город,<br> бульвар Г. Камала, 24 А (27/04 А)</h4><a class="contact__block__phone" href="tel:88552202726">8 8552 20 27 26</a><br><a class="contact__block__mail" href="mailto:mail@mail.ru">mail@mail.ru</a><br>
            <button class="dental-btn contact__block__btn" data-toggle="modal" data-target="#feedbackModal">Заказать звонок</button>
          </div>
        </div>
        <div class="map">
          <div id="map-card"></div>
        </div>
      </section>
    </div>
    <footer class="footer sticky_footer">
      <div class="container">
        <div class="footer__wrapper">
          <p class="copyright"> &copy; 2021 DENTAL FORTE управляющая компания. Все права защищены.</p><a class="itchelny" href="https://www.itchelny.ru/">
            <p>Создание и поддержка –</p><img src="images/icons/itchelny-icon.png" alt="Логотип ITChelny"/></a>
        </div>
      </div>
    </footer>
    <div class="modal modal-feedback fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="feedbackLabel">Заказ звонка</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <input class="dental-input" type="text" placeholder="Ваше имя"/>
            <input class="dental-input" type="text" placeholder="Ваш номер телефона"/>
            <button class="dental-btn">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=eff7a67d-abe4-44c8-ad01-4221d11c84ea&amp;lang=ru_RU"></script>
    <script src="libs/js-libs.min.js"></script>
    <script src="js/script.min.js"></script>
  </body>
</html>