
<section class="about">
  <div class="container">
    <h4 class="subtitle subtitle-mobile"><span>О компании</span></h4>
    <div class="row">
      <div class="col-lg-5 col-xl-6">
        <div class="about-img"><img src="images/about-front-img.jpg" alt="Картинка о компании"/></div>
      </div>
      <div class="col-lg-7 col-xl-6">
        <div class="about-right">
          <h4 class="subtitle"><span>О компании</span></h4>
          <p>Качественный контент — это уважение к пользователю, показатель уровня работы компании. Если это текст, в нем не должно быть смысловых или грамматических ошибок, он должен быть правильно оформлен, структурирован. Видеоматериалы готовят, контролируя качество видеоряда и озвучивания, монтажа, сведения. Графика, изображения, фото должны быть четкими, иметь хорошее разрешение. Для каждого типа контента действует свой набор требований по качеству, и важно соблюдать их.</p>
          <button class="dental-btn-small">Подробнее </button>
        </div>
      </div>
    </div>
  </div>
</section>