
<section class="services">
  <div class="container">
    <div class="services__wrapper">
      <h4 class="subtitle subtitle-divider text-center"><span>Услуги</span></h4>
      <div class="row">
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-1.jpg" alt="Картинка услуг 1"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Бухгалтерский учет</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-2.jpg" alt="Картинка услуг 2"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Маркетинг</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-3.jpg" alt="Картинка услуг 3"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Подбор и обучение<br> персонала</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-4.jpg" alt="Картинка услуг 4"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Кадровое<br> делопроизводство</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-5.jpg" alt="Картинка услуг 5"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Администрирование</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
        <div class="col-md-6 col-xl-4"><a class="services__link" href="#">
            <div class="services__link__img"><img src="images/services/services-img-6.jpg" alt="Картинка услуг 6"/></div>
            <div class="services__link__block">
              <h3 class="services__link__title">Юридическое<br> сопровождение</h3>
              <p class="services__link__text">Краткое описание: процесс подбора, отбора<br> и найма персонала – это постоянный процесс<br> в деятельности организации...</p>
            </div></a></div>
      </div>
    </div>
  </div>
</section>