
<section class="contact">
  <div class="container"> 
    <div class="contact__block">
      <h3 class="contact__block__title">Контакты </h3>
      <h4 class="contact__block__town"><b>г. Набережные Челны,</b><br> Новый город,<br> бульвар Г. Камала, 24 А (27/04 А)</h4><a class="contact__block__phone" href="tel:88552202726">8 8552 20 27 26</a><br><a class="contact__block__mail" href="mailto:mail@mail.ru">mail@mail.ru</a><br>
      <button class="dental-btn contact__block__btn" data-toggle="modal" data-target="#feedbackModal">Заказать звонок</button>
    </div>
  </div>
  <div class="map">
    <div id="map-card"></div>
  </div>
</section>