
<section class="advantages">
  <div class="container">
    <h4 class="subtitle text-center">Преимущества работы с нами</h4>
    <div class="row"> 
      <div class="col-lg-4 col-xl-4">
        <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-1.png" alt="Преимущества 1"/>
          <p class="advantages__item__text">Решение вопросов<br> в кратчайшие сроки</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4">
        <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-2.png" alt="Преимущества 2"/>
          <p class="advantages__item__text"><span>100%</span><br> конфиденциальность</p>
        </div>
      </div>
      <div class="col-lg-4 col-xl-4">
        <div class="advantages__item"><img class="advantages__item__img" src="images/advantages/advantage-img-3.png" alt="Преимущества 3"/>
          <p class="advantages__item__text">Высокое качество<br> оказываемых услуг</p>
        </div>
      </div>
    </div>
  </div>
</section>