
<section class="slider"> 
  <div class="owl-carousel owl-theme" id="main-slider">
    <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
      <div class="container">
        <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
      </div>
    </div>
    <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
      <div class="container">
        <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
      </div>
    </div>
    <div class="item item-1" style="background-image: url('../images/slider-img.jpg');">
      <div class="container">
        <h2 class="slider-text">Возьмём на себя <b><br/>управление<br/> Вашим бизнесом</b></h2>
      </div>
    </div>
  </div>
</section>