
<section class="partners">
  <div class="container">  
    <h4 class="subtitle subtitle-divider text-center"><span>Наши клиенты</span></h4>
    <div class="owl-carousel owl-theme" id="partner-slider">
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-1.png" alt="Лого партнера 1"/></div>
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-2.png" alt="Лого партнера 2"/></div>
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-3.png" alt="Лого партнера 3"/></div>
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-1.png" alt="Лого партнера 1"/></div>
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-2.png" alt="Лого партнера 2"/></div>
      <div class="item"><img class="partners-img" src="images/partners/partners-logo-3.png" alt="Лого партнера 3"/></div>
    </div>
  </div>
</section>